.button--variant-primary {
    text-align: center;
    border-radius: 0.5rem;
    background: #e20074;
    color: #ffffff;
    padding: 12px;
    border: none;
}

.button {
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    position: relative;
    border: 0px;
    outline: none;
    cursor: pointer;
    user-select: none;
    font-family: inherit;
    word-spacing: inherit;
    letter-spacing: inherit;
    justify-content: center;
    text-decoration: none;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.25;
    min-height: 2.75rem;
    min-width: 2.75rem;
    width: 100%;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    vertical-align: middle;
    transition: all 200ms cubic-bezier(0.4,0,0.6,1);
}
.button--variant-secondary {
    background: hsla(0, 0%, 0%, 0);
    text-align: center;
    border-radius: 0.5rem;
    border: 1px solid rgb(0 0 0);
    color: #000000;
    background-color: hsla(0, 0%, 0%, 0);
    border-color: hsla(0, 0%, 0%, 0.44);
}

.scale-telekom-footer {
    --font-size: 0.875rem;
    --font-color: var(--telekom-color-text-and-icon-white-standard);
    --font-large: var(--telekom-text-style-ui);
    --background-footer: var(--telekom-color-ui-black);
    --background-footer-minimal: var(--telekom-color-background-canvas);
    --_nav-items-bottom-margin: var(--telekom-spacing-composition-space-08);
    --_nav-items-spacing: var(--telekom-spacing-composition-space-05);
}



[part~="base"] {
    height: 100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    position: relative;
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    width: -webkit-fill-available;
}


@media screen and (min-width: 1040px) {
    [part~="body"] {
        flex-direction: row;
    }
}
@media screen and (min-width: 640px) {
    [part~="body"] {
        flex-direction: column;
    }
}
[part~="body"] {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: var(--_navigation-container-padding);
    margin: 0px;
    bottom: 0px;
}
footer{
	max-width: 1504px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}
@media screen and (max-width: 1679px) {
.imgLogo{
	height:96px !important;
	}
[part~="base"] {
    padding-left: 0;
	}
}
@media screen and (max-width: 1295px) {
.imgLogo{
	height:85px !important;
	}
}
@media screen and (max-width: 1200px) {
.imgLogo{
	height:58px;
	}
.FooterInfo{
	margin-left:1.5rem;
	}
.FooterList{
	margin-right:1.5rem;
	}
}
@media screen and (max-width: 1039px) {
.imgLogo{
	height:54px !important;
	display:none !important;
	}
.imgLogoMobile{
	height:54px !important;
	display:block !important;
	}
}
@media screen and (max-width: 640px) {
.FooterInfo{
	color:#000 !important;
	}
.FooterList{
	float:left !important;
	margin-left:1.5rem;
	}
}